
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{asset('Auth/images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/Auth/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('Auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('Auth/fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/Auth/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/Authr/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/Auth/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/Auth/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/Auth/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('Auth/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('Auth/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	{% block content %}{% endblock %}



	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../vendor/Authvendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/Authvendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/Authvendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/Authvendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/Authvendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/Authvendor/daterangepicker/moment.min.js"></script>
	<script src="../vendor/Authvendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/Auth/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="{{asset('Auth/js/main.js')}}"></script>

</body>
</html>