 {% extends 'Users.html.twig' %}
    {% block stylesheet %}

<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container px-4 px-lg-5">
        <!-- Logo à gauche -->
        <a class="navbar-brand" href="index.html">
            <img src="{{ asset('assets/images/logo.png') }}" alt="logo" class="img-fluid" style="max-height: 50px;">
        </a>
        <!-- Bouton pour les menus en version mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenu du menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_default')}}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block body %} 

  <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ asset('uploads/images/' ~ Chaussure.photo) }}"  alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{Chaussure.quantite}} Unité</div>
                        <h1 class="display-5 fw-bolder">{{Chaussure.Modele}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">{{Chaussure.prix+25}}DT</span>
                            <span>{{Chaussure.prix}}DT</span>
                        </div>
                        <p class="lead">{{Chaussure.Description}}</p>
                         <div class="d-flex">
                    {% if Chaussure.quantite > 0 %}
                        <form action="{{ path('app_default_achat', {id: Chaussure.id}) }}" method="post">
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Acheter
                            </button>
                        </form>


                    {% else %}
                        <button class="btn btn-outline-dark flex-shrink-0" type="button" disabled>
                            <i class="bi-cart-fill me-1"></i>
                            Indisponible
                        </button>
                    {% endif %}
                </div>
                    </div>
                </div>
            </div>
        </section>   

  
        {% endblock %}