{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_label(form.Quantite, 'Quantity', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.Quantite, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.Quantite) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(form.Prix, 'Price', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.Prix, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.Prix) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.photo, 'Product Image', {'label_attr': {'class': 'form-label'}}) }}
        <div class="custom-file">
            {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.photo) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.Description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Description) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.Modele, 'Model', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Modele, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Modele) }}
    </div>
<br>
    <button type="submit" class="btn btn-primary btn-block mt-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


{# {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_label(form.Quantite, 'Quantity', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.Quantite, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.Quantite) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(form.Prix, 'Price', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.Prix, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.Prix) }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_label(form.photo, 'Product Image', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.photo) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.Description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Description) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.Modele, 'Model', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Modele, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Modele) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
